
.AOB{
    position: absolute;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 350px;
    border-radius: 10px;
    right: 220px;
    bottom: 100px ;
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari 3-8 */
    transform: rotate(80deg);
}

.CONTACTS{
    position: absolute;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 350px;
    border-radius: 10px;
    right: 200px;
    top: 145px ;
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari 3-8 */
    transform: rotate(-10deg);
}

.APPS{
    position: absolute;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 350px;
    border-radius: 10px;
    left: 680px;
    top: 480px ;
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari 3-8 */
    transform: rotate(-10deg);
}

.SKILLS{
    position: absolute;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 350px;
    border-radius: 10px;
    left: 700px;
    top: 150px ;
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari 3-8 */
    transform: rotate(80deg);
}
.bk{
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0px;
    top: 0px;
    opacity: 0.6;
}
.fade{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 45%;
}

.me{
    position: absolute;
    width: 250px;
    border-radius: 10px;
    left: 80px;
    top: 200px ;
}
h1{
    color: rgb(251, 255, 0);
    position: absolute;
    left:5%;
    top: 30px ;
    font-size: 50px ;
}
h2{
    color: rgb(255, 255, 255);
    position: absolute;
    left: 5%;
    top: 60px ;
    font-size: 40px ;
}
h3{
    color: white;
    position: absolute;
    font-size: 40px;
    left: 400px;
    top: 280px 
}
h4{
    color: white;
    position: absolute;
    font-size: 30px;
    left: 500px;
    top: 340px 
}
h5{
    color: white;
    position: absolute;
    font-size: 30px;
    left: 350px;
    top: 400px;
}
h6{
    color: rgb(255, 255, 255);
    position: absolute;
    left: 5%;
    top: -90px ;
    font-size: 40px ;
}

body{
    background-image: url("../images/bk.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
