.bk{
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0px;
    top: 0px;
    opacity: 0.6;
}

.me{
    position: absolute;
    width: 250px;
    border-radius: 30px;
    left: 280px;
    top: 150px ;
}
h1{
    color: rgb(0, 0, 0);
    position: absolute;
    right: 0px;
    top: 10px ;
    font-size: 50px ;
}
h2{
    color: rgb(21, 255, 0);
    position: absolute;
    right: 0px;
    top: 50px ;
    font-size: 40px ;
}
h3{
    color: white;
    position: absolute;
    font-size: 40px;
    left: 600px;
    top: 280px 
}
h4{
    color: white;
    position: absolute;
    font-size: 30px;
    left: 700px;
    top: 340px 
}
h5{
    color: white;
    position: absolute;
    font-size: 30px;
    left: 600px;
    top: 400px;
}

body{
    background-image: url("../images/heartburn_background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
